a.navlink {
    color: #043a81;
    text-decoration: none;}
a:hover {color:#0f93e3}
a.sitelink:visited {color:#0f93e3;}
body {
    background-color: #b0d5f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 30px;
    padding: 10px 130px;
    color: #043a81}
div.text-hold {
    background-color: #f0f8ff;
    border: 2px solid #043a81; 
    margin: -5px 150px 10px 150px; /*top right bottom left*/
    padding: 20px; font-size: 12.5px;}
footer {text-align: center;}
h1 {font-size: 35px;}
h2 {font-size:25px;}
h3 {font-size: 20px;}
header {
    line-height:10px; 
    padding: 20px;}
img.center {
    display: block; 
    margin: 20px 300px; 
    width: 500px;}
li.navi {
    display: inline; 
    padding: 15px;}
main {
    background-color: #ddedfd;
    border: 2px solid #043a81;
    line-height: 25px;
    padding: 0px 80px 10px 80px;
    word-spacing: 0.5px;}
nav {
    list-style-type: none; 
    margin: 5px; 
    text-align: center;}
span.span-bold {font-weight: bold;}
span.span-italic {font-style: italic;}
p.samples {text-decoration: underline;}
p.spacer {margin-bottom: 30px;}
.headings {
    font-variant: small-caps;
    text-align: center;}
.sitelink {
    color:#043a81;
    font-size: 12.5px;
    line-height: 20px;
    text-align: center;}
.top {
    background-color: #ddedfd;
    border: 2px solid #043a81; 
    font-variant: small-caps;
    text-align: center;}